<% content_for :title do %>About<% end %>
<h3> About Foobar Kadigan</h3>
<p>He was born in Waikikakmu, New Zealand. He humped sheep, studied at university of Mopery, and served in the Royal Lamshire Regiment. While in service he invented the kanuten valve used in processing of uraniom for space exploration.</p>
<p>His favorite quote is:</p>
<P>Live fast or die trying</p>
